.animation-wrapper {
    position: relative;
    resize: both;
    width: 200px;
    height: 200px;
    overflow: auto;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.animation-container {
    width: 100%;
    height: 100%;
}

.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #ccc;
    cursor: se-resize;
}


.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.lottie-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Set a fixed size or keep it responsive based on your Lottie animation */
    width: 400px;
    height: 400px;
}

#drawingCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ensure canvas size matches the Lottie container */
    width: 400px;
    height: 400px;
}

button.active {
    background-color: #e0e0e0;
    border-color: #000;
}